.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 380px;
  font-size: 0.8rem;
  width: 220px;
  background-color: #161a1d;
  font-weight: 700;
  color: white;
  border-radius: 20px;
  -webkit-animation: scale-in-center 0.8s cubic-bezier(0.26, 0.07, 0.66, 0.13)
    both;
  animation: scale-in-center 0.8s cubic-bezier(0.26, 0.07, 0.66, 0.13) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  text-align: center;
  display: flex;
  align-items: center;
  max-width: 200px;
  min-height: 70px;
}

.details {
  margin-top: -8px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -8px;
}

.rating p {
  margin-left: 0 1px;
  padding: 4px;
}

.rating span {
  color: #f1c40f;
  font-weight: 500;
  margin: auto;
}

.genres {
  max-width: 200px;
  max-height: 100px;
  flex-wrap: wrap;
  display: flex;
  flex: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: 400;
}

.genres span {
  padding: 2.5px;
  margin: 0 2px;
}

.image {
  min-height: 220px;
  max-width: 170px;
  transition: all 0.3s;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
  -webkit-animation: animateThumb 0.5s, transform 0.3s;
  animation: animateThumb 0.5s, transform 0.3s;
  box-shadow: 0.5px 0.5px 8px 2px rgba(0, 0, 0, 0.4);
}

.image:hover {
  transform: scale(1.08);
  opacity: 0.7;
  box-shadow: 0.5px 0.5px 10px 2px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes animateThumb {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animateThumb {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
