.container {
  height: 100%;
  margin: 10px auto;
}

.containerCards {
  max-width: 1200px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 3.5rem;
}

.error {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
