.App {
  text-align: center;
  margin: 0;
}

.invalid::focus {
  background-color: 2px solid red;
}
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;0,700;1,700&family=Readex+Pro:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Readex+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600;700&display=swap");
